<p id="notice"><%= notice %></p>

<h1>Lista de Links</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link_to 'Mostrar', link %></td>
        <% if link.user == current_user %>
          <td><%= link_to 'Editar', edit_link_path(link) %></td>
          <td><%= link_to 'Apagar', link, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

